/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  overflow-y: scroll;
  min-height: 100vh;
  position: relative;
  background-color: #1d1f23;
  color: white;
  background-image: url('images/background_image.jpg'); /* Added background image */
  background-size: cover; /* Make sure the image covers the screen */
  background-position: center; /* Center the background image */
  background-attachment: fixed; /* Make the background fixed while scrolling */
}

/* Hero Section */
.hero {
  /* Remove opacity and black background */
  color: white;
  padding: 60px 20px;
  text-align: center;
  margin-bottom: 40px;
  border-radius: 10px;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #1abc9c; /* Set hero section heading color */
}

.hero-description {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 30px;
}

/* Logo size adjustments */
.logo-size {
  max-width: 100px; /* Resize logo */
  height: auto;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.logo-size:hover {
  transform: scale(1.1);
}

/* Tools Section */
.tools-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px; /* Increased gap between the cards for more spacing */
  margin-top: 20px;
}

.tools-card {
  text-align: center;
  width: 150px;
  margin-bottom: 30px;
}

.tools-card img {
  max-width: 100px; /* Keep tool logos consistent */
  height: auto;
  margin-bottom: 20px;
}

.tools-card h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.tools-card p {
  font-size: 1rem;
  color: #a7a7a7;
  line-height: 1.5;
}

/* Footer styles */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
}

.footer-logo-container {
  margin-bottom: 10px;
}

.footer-logo {
  max-width: 80px;
  height: auto;
}
